// custom.scss
$primary: #0372f2;
$success: #01a063;
$secondary: #4c4c4c;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #fff;
$dark: #212529;
// Replace with your desired color

// Import Bootstrap to include your customizations
@import 'bootstrap/scss/bootstrap.scss';